/* Reset styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for the header */
header {
    background-image: url(imagens/background.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 15;
    /* Adjust as needed */
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

nav {
    display: flex;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(22, 168, 178);
    /* Color for the links */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    border: 1px solid colorrgb(22, 168, 178);
    padding: 0.2rem;
}

/* Styles for the large text */
.large_text_one {
    padding-bottom: 30px;
}

.creator>h2 {
    text-align: center;
    opacity: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 10px;
    color: rgb(118, 118, 118);
    /* Color for the text */
}

.creator>p {
    text-align: center;
    padding-left: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: rgb(22, 168, 178);
    /* Color for the text */
}

/* Styles for the dishes */
.dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.person_photo img {
    max-width: 100%;
    height: auto;
}

.paragraph_one {
    text-align: center;
    padding: 20px;
}

.paragraph_one h2 {
    margin-bottom: 20px;
    color: #565450;
    /* Color for the title */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.paragraph_one p {
    margin-bottom: 20px;
    color: #666464;
    /* Color for the text */
}

.paragraph_one a {
    margin-right: 0;
    color: #5B9E33;
    /* Color for the link */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Styles for the photo sections */
.photosmenu1,
.photosmenu2 {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

.photosmenu1 h2,
.photosmenu2 h2 {
    margin-bottom: 20px;
    color: grey;
    /* Color for the title */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.photosmenu1 p {
    color: rgb(22, 168, 178);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.photosmenu1 .food img {
    max-width: 100%;
    max-height: 300px;
    /* Limit the height of the images */
    border-radius: 10px;
    border: 2px solid #ddd;
    /* Adding border */
    margin-bottom: 20px;
}


.reserva h1 {
    text-align: CENTER;
    color: #439ca6;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;

}

.reserva form {
    color: rgb(52, 62, 62);
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-image: url(https://media.istockphoto.com/id/1277063263/es/vector/fondo-borroso-azul-abstracto.jpg?s=612x612&w=0&k=20&c=iyXipcvytCRIbRslJsYJARI4ICxdkNMZGFFBd2bIpgA=);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.reserva label {
    display: block;
    margin-bottom: 8px;
    opacity: 80%;



}

.reserva input {
    border: none;
    border-radius: 7px;
}

.reserva p {
    margin-top: 10px;
    font-size: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
}

.reserva button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 15px;
    color: #439ca6;
    margin-top: 20px;
}

/* Styles for the large text two */
.large_text_two {
    padding-bottom: 30px;
}

.start>h2 {
    text-align: center;
    opacity: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 10px;
    color: grey;
    /* Color for the text */
}

.start>p {
    text-align: center;
    padding-left: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: rgb(22, 168, 178);
    /* Color for the text */
}

/* Styles for the customer service section */
.customer_service {
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p2/5140844-marrom-mesa-de-madeira-em-cafe-ou-fundo-restaurante-gratis-foto.jpg);
    background-repeat: no-repeat;
    padding: 70px 10px 70px 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: #fff;
    /* Color for the title */
    margin-bottom: 10px;
}

.reservation p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    /* Color for the text */
    margin-bottom: 20px;
}

.reservation button {
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #c82222;
    /* Color for the button text */
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #fff;
    /* Background color for the button */
}

.restaurant_clip video {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

/* Styles for the footer */
footer {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

footer p {
    color: grey;
    margin-bottom: 10px;
}

footer a {
    color: #48A8B2;
    /* Color for the links */
    text-decoration: none;
    border-right: solid rgb(195, 193, 193);
    padding-right: 10px;
}